<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>DATA-collector-FLASK</title>
</head>

<body>

<div style="height: 1080px" class="container-fluid bg-primary p-5 text-white text-center">
  <p>
    Thanks you for your submission <hr class="bg-light">
    You will receive an email with the survey result shortly
  </p>

</div>

</body>
</html>